/* ###########################
   ######### TITULOS #########
   ########################### */

/* TITULO UNO */
.titulo_principal_uno {
    padding:15px;
    background-color: #a1e0f8;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #ffffff99;
    color: #13588a;
}

/* TITULO DOS */
.titulo_principal_dos {
    padding:15px;
    background-color: white;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #ffffff99;
    color: #13588a;
}

/* SUB TITULO UNO */
.sub_titulo_uno {
    padding:0px;
    background-color: transparent;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #ffffff99;
    color: #04a9e9;
}

/* TITULO DESCRIPCIÓN UNO */
.titulo_descripcion_uno {
    padding:0px;
    background-color: transparent;
    border-radius: 100px;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #ffffff99;
    color: #4c4f54;
}

/* DESCRIPCIÓN */
.descripcion_uno_lighter{
    padding:0px;
    border-radius: 100px;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: initial;
    border: 1px solid #ffffff99;
    color: #4c4f54;
}

@media only screen and (max-width: 680px) {
    /* TITULOS */
    .titulo_principal_uno {
        font-size: 1.2rem
    }
    .titulo_principal_dos {
        font-size: 1.2rem
    }
}